body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

th {
  text-transform: capitalize;
}

tr:nth-child(even){
  background-color: #f2f2f2
}

.articles {
  margin-top: 2vh;
  margin-bottom: 1vh;
}

.article {
  display: flex;
  flex-direction: column;
}

.article label {
  width: 20%;
  display: inline-block;
  text-transform: capitalize;
  color:#923292;
}

.navigation {
  display: flex;
  flex-direction: row;
}

.navigation > div {
  flex: 1
}

.translation {
  margin-top: 5vh;
}

.translation .content {
  margin: 5px;
  padding: 5px;
}

.keyword {
  margin-right: 4px;
}

.smart-group {
  margin-right: 4px;
}